bin/
target/
tmp/
.buildpath
.classpath
.cproject
.externalToolBuilders/
.factorypath
.gradle
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.project
.settings/
.target
.texlipse
*.bak
*.class
*.ear
*.jar
*.launch
*~.nib
*.pydevproject
*.swp
*.tmp
*.war
buildNumber.properties
dependency-reduced-pom.xml
hs_err_pid*
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
